header set Cross-Origin-Opener-Policy: same-origin
header set Cross-Origin-Embedder-Policy: require-corp
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin: https://html.itch.zone
</IfModule>